<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="/static/main.css" />
<head>

<body>
    <img class='title_image' src='/static/images/webdiff_small.png'>
<span class='main_content'>

    <form method="post">
        <div class='input_areas'>
        
<textarea type="text" name="from" rows="20" cols="80">{{content_a}}</textarea>

<textarea type="text" name="to" rows="20" cols="80">{{content_b}}</textarea>

        </div>

        <div class='button_area'>
            <button type="submit" name='comparer_button'>Compare!</button>{% block content_options %}{% endblock %}
        </div>
    </form>

    {% block content %}{% endblock %}
    
</span>

<div class='help_area'>
    <div class='help_box'>
<code>
    There are three ways to use this web app.<br>
    <br>    
    1) paste two files, press compare.<br>
    2) for gists with single files.<br>
    use notation [../webdiff/<span id='old_content'>3482451</span>-<span id='new_content'>3487958</span>    ], press compare. <br>
    3) for multi-file gists:<br>
    use notation [../webdiff/<span id='old_content'>3527642</span>><span id='old_content'>file_00_file_01.py</span>&<span id='new_content'>3527642</span>><span id='new_content'>file_0001_file_02.py</span> ], press compare.<br>
    <br>
    for more info and source visit <a href="https://github.com/zeffii/GAE-webdiff#readme">the readme</a>
    
</code>        
    </div>
</div>
    
  
​


</body>
</html>
